<mui:drawer variant="permanent" class={className} role="navigation" aria-label="Site navigation">
  <mui:container>
    <mui:toolbar>
      <mui:icon-button onclick={onToggle} aria-label="Open navigation menu">
        <icons:menu />
      </mui:icon-button>
    </mui:toolbar>
    <list:nav-list items={nav.primary.items} aria-label="Primary navigation" />
  </mui:container>
  <mui:divider />
  <mui:container>
    <list:nav-list items={nav.secondary.items} aria-label="Secondary navigation" />
  </mui:container>
</mui:drawer>
